{% extends "base.html" %} {% block title %} Athletics {% endblock %}

{% block content %}
<h1 align="center">Daily run</h1>
<form method="POST">
  <div class="form-group">
    <label for="run">How many kilometers did you run today?</label>
    <input
      type="float"
      class="form-control"
      id="run"
      name="run"
    />
  </div>
   <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<br>
<h4 align="center">Today: {{ run }} km</h4>
<br>
<h4 align="center">Average: {{ average }} km</h4>
<br>
<h4 align="center">Total distance: {{ total_run }} km</h4>

{{ div_placeholder }}


<div class="container-fluid p-5 my-5 bg-dark text-white">
  <h1 align="center">News</h1>
  <br>
  <hr style="height:2px;border-width:0;color:white;background-color:white">
  <h2>Date: {{ date1 }}</h2>
  <p>{{ title1 }}</p>
  <a href="{{ link1 }}">{{ link1 }}</a>

  <br>
  <hr style="height:2px;border-width:0;color:white;background-color:white">
  <h2>Date: {{ date2 }}</h2>
  <p>{{ title2 }}</p>
  <a href="{{ link2 }}">{{ link2 }}</a>

  <br>
  <hr style="height:2px;border-width:0;color:white;background-color:white">
  <h2>Date: {{ date3 }}</h2>
  <p>{{ title3 }}</p>
  <a href="{{ link3 }}">{{ link3 }}</a>

  <br>
  <hr style="height:2px;border-width:0;color:white;background-color:white">
  <h2>Date: {{ date4 }}</h2>
  <p>{{ title4 }}</p>
  <a href="{{ link4 }}">{{ link4 }}</a>

  <br>
  <hr style="height:2px;border-width:0;color:white;background-color:white">
  <h2>Date: {{ date5 }}</h2>
  <p>{{ title5 }}</p>
  <a href="{{ link5 }}">{{ link5 }}</a>

</div>





{% endblock %}